@inherits NHS111.Web.Tools.Views.Shared.FeedbackRowView<NHS111.Models.Models.Web.FeedbackViewModel>

<tr>
    <th>
        @Model.DateAdded
    </th>
    <td>
        @Model.Text
    </td>
    <td>
        @Model.PageId
    </td>
    <td>
        @Model.UserId
    </td>
    <td>
        <p data-placement="top" data-toggle="tooltip" title="Delete">
            @using (Ajax.BeginForm("Delete", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "feedback-list", LoadingElementId = "loader", HttpMethod = "POST" }))
            {
                @Html.HiddenFor(m => m.PartitionKey)
                @Html.HiddenFor(m => m.RowKey)
                <button class="@string.Format("btn btn-danger btn-xs {0}", !DeleteFeedbackFeature.IsEnabled ? "disabled" : string.Empty)" data-title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            }
        </p>
    </td>
</tr>