@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@model  OutcomeViewModel

<div class="alternative-care service-hidden">
    @{
        var result = Model.DosCheckCapacitySummaryResult;
        var changePostcode = ViewData.Keys.Contains("ChangePostcode") ? (bool)ViewData["ChangePostcode"] : false;
    }
    @if (!Model.UserInfo.CurrentAddress.IsInPilotArea)
    {
        if (changePostcode)
        {
            using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
            {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
                <p>
                    There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode) @Html.Partial("_ChangePostcodeLink")
                </p>
                <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
            }
        }
        else
        {
            <p>There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode)</p>
            <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
        }
    }
    else if (Model.GroupedDosServices.Any())
    {
        if (changePostcode)
        {
            using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
            {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

                if (Model.OutcomeGroup.CanPatientsRegister())
                {
                    <p>@String.Format("Other services that can help you near {0}", Model.FormattedCurrentPostcode) @Html.Partial("_ChangePostcodeLink")</p>
                }
                else
                {
                    <h3>@String.Format("Services that can help you near {0}", Model.FormattedCurrentPostcode) @Html.Partial("_ChangePostcodeLink")</h3>
                }
            }
        }
        else
        {
            if (Model.OutcomeGroup.CanPatientsRegister())
            {
                <p>@String.Format("Other services that can help you near {0}", Model.FormattedCurrentPostcode)</p>
            }
            else
            {
                <h3>@String.Format("Services that can help you near {0}", Model.FormattedCurrentPostcode)</h3>
            }
        }

        <div id="availableServices">
            @foreach (var groupedService in Model.GroupedDosServices)
            {
                var wording = "";
                var partial = "";
                if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.Callback)
                {
                    wording = string.Format("{0}", ViewData.Keys.Contains("CallbackTitle") ? ViewData["CallbackTitle"] : "Arrange for someone to phone you");
                    partial = "_CallbackServices";
                }
                else if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.GoTo)
                {
                    wording = "Visit a service";
                    partial = "_GotoServices";
                }
                else if (groupedService.OnlineDOSServiceType == OnlineDOSServiceType.PublicPhone)
                {
                    wording = "Phone a service";
                    partial = "_PublicPhoneServices";
                }

                var open = (Model.OutcomeGroup.Equals(OutcomeGroup.AccidentAndEmergency) &&
                            Model.GroupedDosServices.Count == 1);

                <details @(open ? Html.Raw("open") : Html.Raw("") )>
                    <summary>
                        <span class="details__arrow"></span>
                        <span class="summary">@wording</span>
                    </summary>
                    <div>
                        @Html.Partial(partial, Model, ViewData)
                    </div>
                </details>
            }
        </div>
    }
    else
    {
        if (changePostcode)
        {
            using (Html.BeginForm("ChangePostcode", "Outcome", FormMethod.Post))
            {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
                <p id="NoDosResults">
                    There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode) @Html.Partial("_ChangePostcodeLink")
                </p>
                            <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
            }
        }
        else
        {
            <p id="NoDosResults">There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode)</p>
                        <p>If you can’t @Html.Raw(Model.OutcomeGroup.Text), please call 111 for advice</p>
        }
    }
</div>