@using NHS111.Models.Models.Web
@model  OutcomeViewModel

@{
    var services = Model.DosCheckCapacitySummaryResult.Success.Services;
}

@if (services.Any(s => s.CallbackEnabled))
{
    <h5 id ="alternative-service-callback-link">@string.Format("{0}", ViewData.Keys.Contains("CallbackTitle") ? ViewData["CallbackTitle"] : "We can arrange for someone to phone you")</h5>
    <div class="alternative-care-service">
        <p>They will check through the answers you have entered and give you advice on what to do next</p>
        <div class="alternative-care-service content">
            @foreach (var callbackService in services.Where(s => s.CallbackEnabled))
            {
                <h4 class="service-title">@WebUtility.HtmlDecode(callbackService.Name)</h4>

                if (!callbackService.IsOpen)
                {
                    <div class="service-status">
                        @WebUtility.HtmlDecode(callbackService.ServiceOpeningTimesMessage)
                    </div>
                }

                using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
                {
                    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
                    @Html.Hidden("SelectedServiceId", @callbackService.Id)
                    <div class="service-call">
                        <input class="button alternative-care-button-link" type="submit" name="PersonalDetails" value="Book a call" />
                    </div>
                }
            }
        </div>
    </div>
}

