@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@model  OutcomeViewModel
@{
    var services = Model.GroupedDosServices.First(s => s.OnlineDOSServiceType == OnlineDOSServiceType.Callback).Services;
}

<section class="callout callout--info">
    <div class="reading-width">
        <p>They will check through the answers you have entered and give you advice on what to do next</p>
    </div>
</section>
<div class="cards">
    @foreach (var callbackService in services)
    {
        <div class="card">
            <h3>@WebUtility.HtmlDecode(callbackService.Name)</h3>

            @if (!callbackService.IsOpen)
            {
                @Html.Partial("_ServiceOpeningTimes", callbackService, ViewData) 
            }

            @using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
            {
                @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
                @Html.Hidden("SelectedServiceId", @callbackService.Id)
                <hr />
                <button type="submit" name="PersonalDetails" value="Book a call">Book a call</button>
            }
        </div>
    }
</div>
