@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@if (Model.Any())
{
    if (!ViewData.Keys.Contains("NoHR") || (bool) ViewData["NoHR"] == false) {
        <hr/>
    }
    <div class="care-advice">

        <h3 class="self-care-title">@Html.Raw((!ViewData.Keys.Contains("Title") ? "Looking after yourself" : ViewData["Title"]))</h3>
        <div>
            @foreach (var careAdvice in Model) {
                if (careAdvice.Items != null && careAdvice.Items.Any()) {
                    <h4 id="Advice_@careAdvice.Id" class="self-care-title">@careAdvice.Keyword</h4>
                    @Html.Hidden(careAdvice.Id)
                    <ul>
                        @foreach (var parent in careAdvice.Items) {
                            <li>@parent.Text
                                @if (parent.Items != null && parent.Items.Any()) {
                                    <ul>
                                        @foreach (var child in parent.Items) {
                                            <li>@child.Text</li>
                                        }
                                    </ul>
                                }
                            </li>

                        }
                    </ul>
                }
            }
        </div>
    </div>
}