@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@if (Model.Any()) {
    <div class="care-advice">

        <h3 class="self-care-title">@(!ViewData.Keys.Contains("Title") ? "What can I do in the meantime?": ViewData["Title"])</h3>
        <div class="care-advice-keywords">
            <ol>
                @foreach (var careAdvice in Model) {
                    <li><a href=#Advice_@careAdvice.Id>@careAdvice.Keyword</a></li>
                }
            </ol>
        </div>
        <div>

            @foreach (var careAdvice in Model) {

                <h4 id="Advice_@careAdvice.Id" class="self-care-title">@careAdvice.Keyword</h4>
                @Html.Hidden(careAdvice.Id)
                <ul>
                    @foreach (var parent in careAdvice.Items) {
                        <li>@parent.Text
                            @if (parent.Items.Any()) {
                            <ul>
                                @foreach (var child in parent.Items)
                                {
                                    <li>@child.Text</li>
                                }
                            </ul>
                            }
                    </li>
                       
                    }
                </ul>
            }
        </div>
    </div>
}