@model  IEnumerable<NHS111.Models.Models.Domain.CareAdvice>
@if (Model.Any())
{
    if (!ViewData.Keys.Contains("NoHR") || ViewData["NoHR"] == "false") {
        <hr/>
    }
    <div class="care-advice measure">

        <h2 class="heading-medium">@Html.Raw((!ViewData.Keys.Contains("Title") ? "Looking after yourself" : ViewData["Title"]))</h2>
        <div>
            @foreach (var careAdvice in Model) {
                if (careAdvice.Items != null && careAdvice.Items.Any()) {
                    <h3 id="Advice_@careAdvice.Id" class="heading-small">@careAdvice.Keyword</h3>
                    @Html.Hidden(careAdvice.Id)
                    <ul>
                        @foreach (var parent in careAdvice.Items) {
                            <li>@parent.Text
                                @if (parent.Items != null && parent.Items.Any()) {
                                    <ul>
                                        @foreach (var child in parent.Items) {
                                            <li>@child.Text</li>
                                        }
                                    </ul>
                                }
                            </li>

                        }
                    </ul>
                }
            }
        </div>
    </div>
}