@using NHS111.Models.Models.Web
@model  OutcomeViewModel

@{
    var services = Model.DosCheckCapacitySummaryResult.Success.Services;
}

@if (services.Any(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails)))
{
    string title;
    if (ViewData.Keys.Contains("VisitTitle"))
    {
        title = ViewData["VisitTitle"] as string;
    }
    else
    {
        var serviceCount = services.Count(s => !s.CallbackEnabled && string.IsNullOrEmpty(s.ContactDetails));
        title = serviceCount > 1 ? "There are " + serviceCount + " places you can visit" : "There is 1 place you can visit";
    }
    <h5 id="alternative-service-go-to-link">@title</h5>
    <div class="alternative-care-service">
        @if (Model.Id == "Dx08" && Model.UserInfo.CurrentAddress.IsPostcodeFirst) {
            <ul><li>Your own GP should already know about any medicines you’re taking. If you see a different GP, tell them about your medicines</li></ul>
        }
        <div class="alternative-care-service content">
            @foreach (var service in services.Where(s => !s.CallbackEnabled  && string.IsNullOrEmpty(s.ContactDetails)))
            {
                <h4 class="service-title">@WebUtility.HtmlDecode(service.Name)</h4>
                <p>@WebUtility.HtmlDecode(service.Address)</p>
                <p>@WebUtility.HtmlDecode(service.ServiceOpeningTimesMessage)</p>
                <p>You don't need to call this service, you can go there during the times shown above.</p>
                using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.SessionId)
                    @Html.HiddenFor(m => m.JourneyId)
                    @Html.HiddenFor(m => m.JourneyJson)
                    @Html.HiddenFor(m => m.Id)
                    @Html.Hidden("SelectedServiceId", @service.Id)
                    @Html.Hidden("SelectedServiceName", @service.Name)
                    @Html.Hidden("SelectedServiceAddress", @service.Address)
                    <div class="service-direction">
                        <input class="button button-next button-link" type="submit" value="Get directions" />
                    </div>
                }
            }
        </div>
    </div>
}
