@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.FromExternalServices
@model  OutcomeViewModel
@{
    var services = Model.GroupedDosServices.FirstOrDefault(s => s.OnlineDOSServiceType == OnlineDOSServiceType.GoTo).Services;
    var serviceCount = 0;


    string title;
    if (ViewData.Keys.Contains("VisitTitle"))
    {
        title = ViewData["VisitTitle"] as string;
    }
    else
    {
        serviceCount = services.Count();
        title = serviceCount > 1 ? "There are " + serviceCount + " places you can visit" : "There is 1 place you can visit";
    }
}

@if (Model.Id == "Dx08" && Model.UserInfo.CurrentAddress.IsPostcodeFirst)
{
    <section class="callout callout--info">
        <div class="reading-width">
            <p>As you may not see your usual GP, let the service know which medicines you take.</p>
        </div>
    </section>
}

@{
    String mapServices = "[";
    for (var i = 0; i < services.Count(); i++)
    {
        ServiceViewModel service = services.ElementAt(i);
        mapServices += "{";
        mapServices += "\"Northings\": \"" + service.Northings + "\",";
        mapServices += "\"Eastings\": \"" + service.Eastings + "\",";
        mapServices += "\"Name\": \"" + Uri.EscapeDataString(service.Name) + "\",";
        mapServices += "\"CurrentPostcode\": \"" + Model.CurrentPostcode + "\",";
        mapServices += "\"Address\": [";

        for (var j = 0; j < service.AddressLines.Count(); j++)
        {
            String address = service.AddressLines[j];
            mapServices += "\"" + Uri.EscapeDataString(address) + "\"";
            if (j < service.AddressLines.Count() - 1)
            {
                mapServices += ",";
            }
        }

        mapServices += "]}";
        if (i < services.Count() - 1)
        {
            mapServices += ",";
        }
    }
    mapServices += "]";
}

<div class="cards cards--numbered cards--goto">

    @for (var i = 0; i < services.Count(); i++)
    {
        var service = services.ElementAt(i);
        <div class="card" data-index="@Html.Raw(i)">
            <button class="card__marker-link" role="presentation">@Html.Raw(i + 1)</button>
            <h3>@WebUtility.HtmlDecode(service.Name)</h3>
            <p>
                @foreach (String address in service.AddressLines)
                {
                    @WebUtility.HtmlDecode(address)<br />
                }
            </p>
            @Html.Partial("_ServiceOpeningTimes", service, ViewData) 
            @using (Html.BeginForm("GetDirections", "Outcome", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.JourneyId)
                @Html.HiddenFor(m => m.JourneyJson)
                @Html.HiddenFor(m => m.Id)
                @Html.Hidden("SelectedServiceId", @service.Id)
                @Html.Hidden("SelectedServiceName", @service.Name)
                @Html.Hidden("SelectedServiceAddress", @service.Address)
                <hr />
                <p>This service doesn't require an appointment</p>
                <button class="button--link card__directions--fallback" type="submit">Get directions</button>
                <p><a class="card__directions" style="display: none;" target="_blank" href="@string.Format("https://www.google.com/maps/dir/?api=1&origin={0}&destination={1}", Model.UserInfo.CurrentAddress.Postcode, service.Address)">Get directions</a></p>
            }
        </div>
    }
</div>

<script>
window.mapServices = @Html.Raw(mapServices)
</script>