<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NHS 111</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="~/content/css/main.css" media="all" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <!--[if lte IE 8]><link href="~/content/css/main-ie8.css" media="all" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if lte IE 8]>
        <link href="~/content/css/fonts-ie8.css" media="all" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <!--<link href="~/content/css/fonts.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    -->
    <!--<![endif]-->
    <!--<link rel="shortcut icon" href="~/content/img/favicon.ico" type="image/x-icon">-->

    <link rel="stylesheet" href="~/content/css/jquery-ui.css">
    <!-- STYLES -->
    <link href="~/content/css/skins/flat/yellow.css" media="all" rel="stylesheet" type="text/css">

    <link href="~/content/css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/content/styles/vendor/jquery.nouislider.css" media="all" rel="stylesheet" type="text/css">
    <link href="~/content/styles/site.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/content/css/responsive.css">

    <script src="~/scripts/vendor/modernizr-custom.js"></script>
    <script src="~/scripts/jquery2.1.1.min.js"></script>
    <script src="~/scripts/jquery.cookie.js"></script>
    
    <script>
        $(function () {
            var isSecure = window.location.protocol.toLowerCase() == 'https:';
            var userId = $.cookie("userId");
            if (!userId) $.cookie("userId", '@Guid.NewGuid()', { path: '/', secure: isSecure });
        });
    </script>
    @RenderSection("Scripts", false)
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

    @RenderBody()

    @*<body>






            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>*@
</html>
