@using System.Configuration
@using System.Reflection
@using NHS111.Models.Models.Web
@using NHS111.Web.Presentation.Analytics
@using Configuration = NHS111.Web.Presentation.Configuration.Configuration
@inherits NHS111.Web.Views.Shared.LayoutView

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("HeadTop", false)

    @{
        var data = new Dictionary<string, string> { { "ContainerID", ConfigurationManager.AppSettings["GoogleAnalyticsContainerId"] } };

        var tagPrinter = new GoogleTagManagerPrinter(data);
    }

    @tagPrinter.Print()

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@RenderSection("Title")</title>
    <link rel="manifest" href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/manifest.json")">

    <link rel="preload" as="font" type="font/woff2" crossorigin href="https://assets.nhs.uk/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2" />

    <!-- css -->
    <link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css/nhs-111.css")" media="screen" rel="stylesheet" type="text/css">
    <link rel="preload" href="/content/images/nhs-logotype-blue.svg" as="image" />

    <script>('HTMLDetailsElement' in window) || document.write('<script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle-polyfills.js")"><\/script>')</script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle-head.js")"></script>
    <!-- Javascript -->
    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script>
            (function (w) { w.uztracker = w.uztracker || function () { console.warn && console.warn('The uztracker() is not available.'); }; })(window);
        </script>
    }

    @if (UserZoomSurveyFeature.IsEnabled)
    {
        <script type="text/javascript" charset="utf-8" src="https://cdn3.userzoom.com/uz.js?cuid=AE08A9785B32E2119DA70022196C4538"></script>
    }

    @RenderSection("Scripts", false)

</head>
<body>
    @if (CookieBannerFeature.IsEnabled)
    {
        @Html.Partial("_CookieBanner")
    }

    @Html.Partial("_CompatibilityBanner")

    @RenderSection("SurveyBanner", false)

    @tagPrinter.PrintNoScript()

    <script type="text/javascript"> document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled'); </script>
    <div class="skiplinks" role="banner">
        <div class="skiplinks__inner">
            <a href="#content" class="skiplinks__link">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__inner">
            <a href="@ConfigurationManager.AppSettings["RedirectToStartFeatureRedirectUrl"]" class="global-header__logo" title="Go to the NHS 111 homepage">
                <img src="/content/images/nhs-logotype-blue.svg" width="79" height="32" alt="NHS"> <span class="global-header__text util-digits">1 1 1</span> <span class="global-header__text">online</span>
            </a>
        </div>
    </header>
    <div class="phase-banner" role="banner">
        <span class="banner--beta">beta</span>
        <span class="phase-message">
            @if (Model is OutcomeViewModel) {
                <text>This is the first version of a new service.</text>
            } else { 
                <text>This is a new service, your <a href="#feedback" class="js-open-feedback">feedback</a> will help improve it.</text>
            }
        </span>
    </div>
    
    @RenderSection("HeaderContent", false)
    <!--end header-->


    <section class="outer-section">@RenderSection("OuterSection", false)</section>

<main class="page-section clearfix" id="content" role="main">
    @if (DisclaimerBannerFeature.IsEnabled)
    {
        <!-- toggle disclaimer banner-->
        @Html.Partial("_DisclaimerBanner")
    }
    @RenderBody()
</main>
    @RenderSection("FeedbackSection", false)
    <footer role="contentinfo" class="global-footer">
        <div class="global-footer__inner">
            <nav>
                <ul class="link-list">
                    <li>@Html.ActionLink("Terms and conditions", "Terms", "Help", null, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Privacy statement", "Privacy", "Help", null, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("Cookies", "Cookies", "Help", null, new { target = "_blank" })</li>
                </ul>
            </nav>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>
    @if (UserZoomSurveyFeature.IsEnabled && Model != null && !string.IsNullOrEmpty(Model.UserZoomUrl) && !string.IsNullOrEmpty(Model.UserZoomTitle))
    {
        <script>
            $(document).ready(function () {
                uztracker('send', 'page', {
                    'url': document.location.href + '/' + '@Model.UserZoomUrl',
                        'title': '@Model.UserZoomTitle'
                    });
            });
        </script>
    }
          


    @{ Html.RenderAction("VersionInfo", "Version"); }

    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/js/bundle.js")"></script>
    <link rel="stylesheet" href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css/nhs-111-print.css")" media="print" type="text/css">
</body>
</html>
