@using NHS111.Models.Models.Web
@model  LocationInfoViewModel

<fieldset>
    <legend>
        <h2>Location</h2>
    </legend>
    <h3>Current location</h3>
    <p class="form-info">We need this in case emergency help is required.</p>

    <div class="form-group address-section">
        <div class="address-choose-postcode find-address-panel" style="display: none;">
            <label for="@Html.IdFor(m => m.PatientCurrentAddress.PreviouslyEnteredPostcode)">Postcode</label>
            <span style="display: none;" class="address-no-results custom-error" data-invalidpostcode="current">We can't find an address with this postcode.<br />Check the postcode is correct or <button class="button--link address-change" style="margin-top: 0; display: inline; width: inherit;">enter address</button>.</span>
            @Html.ValidationMessageFor(m => m.PatientCurrentAddress.Postcode, "Enter the postcode and click find address")
            @Html.TextBoxFor(m => m.PatientCurrentAddress.PreviouslyEnteredPostcode, new { @class = "form-control form-control-8-chars find-address-input", })
            <button type="button" class="button--next button--secondary find-address">Find address</button>
        </div>

        <div class="address-list" style="display: none;">
            <label for="@Html.IdFor(m => m.PatientCurrentAddress.SelectedAddressFromPicker)">What is the address?</label>
            @Html.ValidationMessageFor(m => m.PatientCurrentAddress.Postcode, "Select the address")
            @Html.DropDownListFor(m => m.PatientCurrentAddress.SelectedAddressFromPicker, Model.PatientCurrentAddress.AddressPicker, new { @class = "select-address", style = "margin-top: 15px;" })
            <button type="button" class="button--link address-change" data-changeaddress="current" style="margin-top: 5px;">Change address</button>
        </div>

        <div class="address-display-info" style="display: none;">
            <p class="address-info"></p>
            <button type="button" class="button--link address-change" data-changeaddress="current" style="margin-top: 0px;">Change address</button>
        </div>

        <div id="addressPanel" class="address-panel">
            <fieldset>
                <legend class="form-label">Building and street</legend>
                <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientCurrentAddress.AddressLine1).ToString()) ? "" : "form-group-error")">
                    @Html.LabelFor(m => m.PatientCurrentAddress.AddressLine1, "Address line 1", new { @class = "util-visuallyhidden" })
                    @Html.ValidationMessageFor(m => m.PatientCurrentAddress.AddressLine1, "Enter the first line of the address")
                    @Html.TextBoxFor(m => m.PatientCurrentAddress.AddressLine1, new { @class = "form-control address-input address-line-1" })
                </div>
                <div class="inline-details">
                    @Html.LabelFor(m => m.PatientCurrentAddress.AddressLine2, "Address line 2", new { @class = "util-visuallyhidden" })
                    @Html.TextBoxFor(m => m.PatientCurrentAddress.AddressLine2, new { @class = "form-control address-input address-line-2" })
                </div>
            </fieldset>
            <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientCurrentAddress.City).ToString()) ? "" : "form-group-error")">
                @Html.LabelFor(m => m.PatientCurrentAddress.City, "Town or city")
                @Html.ValidationMessageFor(m => m.PatientCurrentAddress.City, "Enter a city")
                @Html.TextBoxFor(m => m.PatientCurrentAddress.City, new { @class = "form-control address-input address-city" })
            </div>
            <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientCurrentAddress.Postcode).ToString()) ? "" : "form-group-error")">
                @Html.LabelFor(m => m.PatientCurrentAddress.Postcode)
                @Html.ValidationMessageFor(m => m.PatientCurrentAddress.Postcode, "Enter a valid postcode")
                @Html.TextBoxFor(m => m.PatientCurrentAddress.Postcode, new { @class = "form-control address-input address-postcode" })
            </div>
            <button type="button" class="button--secondary address-confirm" style="display: none;">Confirm address</button>
        </div>
            
    </div>


    <h3>Is this the home address of the person needing care?</h3>
    <p>We need a home address to find the right NHS record.</p>


    <fieldset class="form-group @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.HomeAddressSameAsCurrent).ToString()) ? "" : "form-group-error")" style="margin-top: 0">
        @Html.ValidationMessageFor(m => m.HomeAddressSameAsCurrent, "Home address of the person needing care")
        <div>
            @Html.RadioButtonFor(m => m.HomeAddressSameAsCurrent, HomeAddressSameAsCurrent.Yes, new { id = "home-address-same", name = "home-address", @class = "multiple-choice__input" })
            <label for="home-address-same" class="multiple-choice--radio">Yes</label>
        </div>

        <div>
            @Html.RadioButtonFor(m => m.HomeAddressSameAsCurrent, HomeAddressSameAsCurrent.No, new { id = "home-address-different", name = "home-address", @class = "multiple-choice__input" })
            <label for="home-address-different" class="multiple-choice--radio">No</label>

            <div class="toggle-content panel">
                <div class="address-section form-group">
                    <div class="address-choose-postcode find-address-panel" style="display: none;">
                        <label for="@Html.IdFor(m => m.PatientHomeAddreess.PreviouslyEnteredPostcode)">Postcode</label>
                        <span style="display: none;" class="address-no-results custom-error" data-invalidpostcode="home">We can't find an address with this postcode.<br />Check the postcode is correct or <button type="button" class="button--link address-change" style="margin-top: 0; display: inline; width: inherit;">enter address</button>.</span>
                        @Html.ValidationMessageFor(m => m.PatientHomeAddreess.Postcode, "Enter the postcode and click find address")
                        @Html.TextBoxFor(m => m.PatientHomeAddreess.PreviouslyEnteredPostcode, new {@class = "form-control form-control-8-chars find-address-input",})
                        <button type="button" class="button--next button--secondary find-address">Find address</button>
                    </div>

                    <div class="address-list" style="display: none;">
                       
                        <label for="@Html.IdFor(m => m.PatientHomeAddreess.SelectedAddressFromPicker)">What is the address?</label>
                        @Html.ValidationMessageFor(m => m.PatientCurrentAddress.Postcode, "Select the address")
                        @Html.DropDownListFor(m => m.PatientHomeAddreess.SelectedAddressFromPicker, Model.PatientHomeAddreess.AddressPicker, new {id = "home-address-picker", @class = "select-address", style = "margin-top: 15px;"})
                        <button type="button" class="button--link address-change" data-changeaddress="home" style="margin-top: 5px;">Change address</button>
                    </div>

                    <div class="address-display-info" style="display: none;">
                        <p class="address-info"></p>
                        <button type="button" class="button--link address-change" data-changeaddress="home" style="margin-top: 0px;">Change address</button>
                    </div>

                    <div id="addressPanel" class="address-panel">
                        <fieldset>
                            <legend class="form-label">Building and street</legend>
                            <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientHomeAddreess.AddressLine1).ToString()) ? "" : "form-group-error")">
                                @Html.LabelFor(m => m.PatientHomeAddreess.AddressLine1, "Address line 1", new {@class = "util-visuallyhidden"})
                                @Html.ValidationMessageFor(m => m.PatientHomeAddreess.AddressLine1, "Enter the first line of the address")
                                @Html.TextBoxFor(m => m.PatientHomeAddreess.AddressLine1, new {@class = "form-control address-line-1 address-input" })
                            </div>
                            <div class="inline-details">
                                @Html.LabelFor(m => m.PatientHomeAddreess.AddressLine2, "Address line 2", new {@class = "util-visuallyhidden"})
                                @Html.TextBoxFor(m => m.PatientHomeAddreess.AddressLine2, new {@class = "form-control address-line-2 address-input" })
                            </div>
                        </fieldset>
                        <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientHomeAddreess.City).ToString()) ? "" : "form-group-error")">
                            @Html.LabelFor(m => m.PatientHomeAddreess.City, "Town or city")
                            @Html.ValidationMessageFor(m => m.PatientHomeAddreess.City, "Enter a city")
                            @Html.TextBoxFor(m => m.PatientHomeAddreess.City, new {@class = "form-control address-city address-input" })
                        </div>
                        <div class="inline-details @(@ViewData.ModelState.IsValidField(Html.NameFor(m => m.PatientHomeAddreess.Postcode).ToString()) ? "" : "form-group-error")">
                            @Html.LabelFor(m => m.PatientHomeAddreess.Postcode)
                            @Html.ValidationMessageFor(m => m.PatientHomeAddreess.Postcode, "Enter a valid postcode")
                            @Html.TextBoxFor(m => m.PatientHomeAddreess.Postcode, new {@class = "form-control address-postcode address-input" })
                        </div>
                        <button type="button" class="button--secondary address-confirm" style="display: none;">Confirm address</button>
                    </div>
                </div>
            </div>

        </div>
        
        <div>
            @Html.RadioButtonFor(m => m.HomeAddressSameAsCurrent, HomeAddressSameAsCurrent.DontKnow, new { id = "home-address-dont-know", name = "home-address", @class = "multiple-choice__input" })
            <label for="home-address-dont-know" class="multiple-choice--radio">I don’t know the home address</label>
        </div>

    </fieldset>

</fieldset>




<script type="text/javascript">

    jQuery(function () {
        jQuery.validator.unobtrusive.adapters.add('homeaddresssameascurrentspecified', ['prefixelement'], function (options) {
            options.rules['homeaddresssameascurrentspecified'] = options.params;
        });
        jQuery.validator.addMethod('homeaddresssameascurrentspecified', function (value, element, params) {
                return value != null;
        });

        jQuery.validator.unobtrusive.adapters.add('homeaddress', ['prefixelement'], function (options) {
            options.rules['homeaddress'] = options.params;
            if (options.message != null) {
                options.messages['homeaddress'] = options.message;
            }
        });
        jQuery.validator.addMethod('homeaddress', function (value, element, params) {
            var addressElement = $(element);
            if ($('input[name="@Html.NameFor(m => m.HomeAddressSameAsCurrent)"]:checked').val() == "No" &&
                addressElement.attr('name').startsWith("AddressInformation.PatientHomeAddreess")) {
                return value != null &&  (value) !== "";
            }
            return true;

        });

    });

    var foundAddresses = {}

    // JavaScript is enabled so we can show the whole flow
    $('.address-choose-postcode').show()
    $('.address-panel').hide()
    $('.address-confirm').show()


    function findAddresses (postcode, element) {
        startPageLoadingIndicator('Searching for addresses matching ' + postcode + '...')
        $.ajax({
            type: "POST",
            url: "/Outcome/PostcodeLookup",
            data: { postCode: postcode },
            success: function (response) {
                showAddresses(response, element)
            },
            timeout: 5000,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
            },
            complete: function () {
                stopPageLoadingIndicator()
            }
        });
    }


    function showAddresses(addressResponse, element) {
        $(element).find('.custom-error').hide()
        if (addressResponse.ValidatedPostcodeResponse !== (@((int)NHS111.Models.Models.Web.Validators.PostcodeValidatorResponse.ValidPostcodePathwaysAreaUndefined) )) {
           // $(element).find('.field-validation-error').hide()
            $(element).find('.form-group').addClass("form-group form-group-error")
            $(element).find('.form-control').addClass('.field-validation-error').attr('aria-invalid', 'true')
            $(element).find('.field-validation-error').removeClass('.field-validation-error')

            $(element).find('.address-no-results').addClass('field-validation-error').show()
            $(element).addClass("form-group form-group-error")
        }
        else
        {
            var options = '<option value="">' + addressResponse.Addresses.length + ' addresses found</option>'
            $.each(addressResponse.Addresses, function (key, value) {
                foundAddresses[value.UPRN] = value
                options += '<option value=' + value.UPRN + '>' + value.FormattedAddress + '</option>'
            })
            $('.select-address', element).empty().append(options)
            $('.address-choose-postcode', element).hide()
            $(element).find('[aria-invalid]').removeAttr('aria-invalid')
            $(element).find('.field-validation-error').removeClass('field-validation-error').addClass('field-validation-valid')
            $('.address-list', element).show()
            $(element).removeClass("form-group-error")
        }
    }

    function showAddressInfo(address, element) {
        var $info = $('.address-info', element)
        $('.address-panel', element).hide()
        $('.address-list', element).hide()
        $info.empty()
        setFields(address)
        if (address.AddressLine1) $info.append(address.AddressLine1 + "<br>")
        if (address.AddressLine2) $info.append(address.AddressLine2 + "<br>")
        if (address.City) $info.append(address.City + "<br>")
        if (address.Postcode) $info.append(address.Postcode)
        $info.show()
        $('.address-display-info', element).show()
    }

    function setAddress(address, element) {
        $('.address-line-1', element).val(address.AddressLine1)
        $('.address-line-2', element).val(address.AddressLine2)
        $('.address-city', element).val(address.City)
        $('.address-postcode', element).val(address.Postcode)
    }

    function changeAddress(parent) {
        $(parent).removeClass("form-group-error")
        $('.address-no-results', parent).removeClass('field-validation-error').hide()
        $('.address-choose-postcode', parent).hide()
        $('.address-list', parent).hide()
        $('.address-display-info', parent).hide()
        $('.address-panel', parent).show()
        $('.address-line-1', parent).focus()

    }

    function findAddressTrigger(parent, postcode) {
        if (valid_postcode(postcode)) findAddresses(postcode, parent)
        else {
            $('.address-no-results', parent).addClass('field-validation-error').show()
            $('.address-no-results', parent).siblings('.form-control').attr('aria-invalid', 'true')
            $(parent).addClass("form-group form-group-error")
        }
    }

    $('.find-address-input').on('keydown', function (e) {
        if (e.which !== 13) return
        e.preventDefault()
        var parent = $(this).parents('.address-section')
        var postcode = $(this).val()
        findAddressTrigger(parent, postcode)
    })

    $('.find-address').click(function () {
        var parent = $(this).parents('.address-section')
        var postcode = $(this).siblings('input').val()
        findAddressTrigger(parent, postcode)
    })

    $('.select-address').change(function () {
        var parent = $(this).parents('.address-section')
        setAddress(foundAddresses[$(this).val()], parent)
        isValid(this)
    })

    $('.address-change').click(function () {
        var parent = $(this).parents('.address-section')
        changeAddress(parent)
    })

    $('.address-confirm').click(function () {
        isValid(this)
    })

    
    $('.address-input').on('keypress', function (e) {
        if (e.which !== 13) return
        e.preventDefault()
        var parent = $(this).parents('.address-panel')
        var el = $('.address-confirm', parent)
        isValid(el)
    })

    function isValid(el) {
        var parent = $(el).parents('.address-section')
        var inputs = $('.address-panel input', parent)
        var valid = true
        for (var i = 0; i < inputs.length; i++) {
            if (!$(inputs[i]).valid()) valid = false
        }

        if (valid) {
            showAddressInfo({
                "AddressLine1": $('.address-line-1', parent).val(),
                "AddressLine2": $('.address-line-2', parent).val(),
                "City": $('.address-city', parent).val(),
                "Postcode": $('.address-postcode', parent).val()
            }, parent)
        }
        else changeAddress(parent)
    }

    function setFields(result) {
        $("#AddressInfoViewModel_HouseNumber").val(result.HouseNumber);
        $("#AddressInfoViewModel_AddressLine1").val(result.AddressLine1);
        $("#AddressInfoViewModel_AddressLine2").val(result.AddressLine2);
        $("#AddressInfoViewModel_City").val(result.City);
        $("#AddressInfoViewModel_County").val(result.County);
        $("#AddressInfoViewModel_Postcode").val(result.Postcode);
    }

    function valid_postcode(postcode) {
        postcode = postcode.replace(/\s/g, "");
        return postcode != "";
    }
</script>