@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    ViewBag.Title = "Postcode";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Model.UserInfo.CurrentAddress.IsPostcodeFirst ? "postcode-first" : "postcode"); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.OutcomeGroup.Text'
        }];
    </script>
}

@section Title { NHS 111 - Tell us your postcode }
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/signposting-outcome.css")" media="all" rel="stylesheet" type="text/css" />
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/signposting-outcome-print.css")" media="print" rel="stylesheet" type="text/css" />

@section SurveyBanner{
    @if (!Model.UserInfo.CurrentAddress.IsPostcodeFirst) { 
        @Html.Partial("_SurveyLink", Model.SurveyLink) 
    }
}

@section FeedbackSection {
    @if (Model.UserInfo.CurrentAddress.IsPostcodeFirst) {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Model.Id });
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

@{
    var error = Model.DosCheckCapacitySummaryResult.ResultListEmpty;
}
<section>
    <div class="postcode-first">

        @using (Html.BeginForm("Outcome", "PostcodeFirst", FormMethod.Post, new { id = "findServicesForm" }))
        {
            @Html.HiddenFor(x => Model.Id)
            @Html.HiddenFor(x => Model.JourneyJson)
            @Html.HiddenFor(x => Model.PathwayId)
            @Html.HiddenFor(x => Model.JourneyId)
            @Html.HiddenFor(x => Model.PathwayNo)
            @Html.HiddenFor(x => Model.SymptomGroup)
            @Html.HiddenFor(x => Model.FilterServices)
            @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
            @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
            @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.IsPostcodeFirst)
            @Html.HiddenFor(x => Model.SymptomDiscriminatorCode)
            @Html.HiddenFor(x => Model.Title)
            @Html.HiddenFor(x => Model.SessionId)
            @Html.HiddenFor(x => Model.TimeFrameText)
            @Html.HiddenFor(x => Model.OutcomeGroup.Id)
            @Html.HiddenFor(x => Model.OutcomeGroup.Text)
            @Html.HiddenFor(x => x.DispositionTime)
            @Html.HiddenFor(x => x.DispositionUrgencyText)
            @Html.HiddenFor(x => x.TimeFrameMinutes)
            @Html.HiddenFor(x => x.WaitTimeText)
            @Html.HiddenFor(x => x.SurveyLink.PathwayNo)
            @Html.HiddenFor(x => x.SurveyLink.EndPathwayNo)
            @Html.HiddenFor(x => x.SurveyLink.EndPathwayTitle)
            @Html.HiddenFor(x => x.SurveyLink.DigitalTitle)
            @Html.HiddenFor(x => x.SurveyLink.DispositionCode)
            @Html.HiddenFor(x => x.SurveyLink.JourneyId)
            @Html.HiddenFor(x => x.SurveyLink.DispositionDateTime)
            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

            if (Model.UserInfo.CurrentAddress.IsPostcodeFirst)
            {
                <h1 id="strap-line" class="element-invisible">You've answered the questions</h1>
                <h2>Now we can tell you what to do next</h2>
            }
            <div class="symptoms-find-container">
                <div class="symptoms-search">
                    @if (error)
                    {
                        <p class="field-validation-error" id="NoDosResults">Sorry, no results were found for this postcode.</p>
                        <p class="field-validation-error">Please check you have entered the postcode correctly, then try again. <br /> If the search still gives no results, please call 111 for advice.</p>
                    }
                    @if (!Model.UserInfo.CurrentAddress.IsPostcodeFirst)
                    {
                        <h1 class="heading-small">If you enter your postcode now, we can find services that can help you</h1>
                    }
                    @Html.ValidationMessageFor(m => m.UserInfo.CurrentAddress.Postcode)
                    @(Model.UserInfo.CurrentAddress.IsPostcodeFirst ? Html.Raw("<label for=\"UserInfo_CurrentAddress_Postcode\">Enter your postcode for services that can help you <span class=\"de-emphasised\">(optional)<span></label>") : Html.Raw("<label for=\"UserInfo_CurrentAddress_Postcode\" class=\"alwayshidden\">Postcode required</label>"))
                    @Html.TextBoxFor(m => m.UserInfo.CurrentAddress.Postcode, new { @class = "form-control " + (error ? "error" : "") })
                    <button class="button button-next" type="submit" name="DosResults" id="DosLookup">Next</button>
                </div>
            </div>
        }

    </div>
</section>

@Html.Partial("_PageLoadingIndicator")

<script type="text/javascript">
    $(document).ready(function () {
        stopPageLoadingIndicator();
    });

    $('#DosLookup').css('cursor', 'pointer');
    $(document).on('click', '#DosLookup', function (event) {
        var $postcode = $('#UserInfo_CurrentAddress_Postcode').val();
        if ($("#findServicesForm").valid() && !!$postcode) {
            startPageLoadingIndicator('Searching for services near to ' + $postcode + '...');
        }
    });

    window.onpageshow = function (event) {
        stopPageLoadingIndicator();
    };
</script>
