@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title
{NHS 111 - 999 Advice}
@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}


@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/scripts/custom.js")"></script>
    <link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/signposting-outcome.css")" media="all" rel="stylesheet" type="text/css" />
}

@section SurveyBanner {
    @Html.Partial("_SurveyLink", Model.SurveyLink, new ViewDataDictionary() { { "999Survey", "true" } })
}

@section FeedbackSection {
    @Html.Partial("_SurveyLink", Model.SurveyLink, new ViewDataDictionary() { { "999Survey", "true" } })
}

@Html.Partial("_OutcomeHeader", Model, new ViewDataDictionary() { { "OutcomeHeader", Model.OutcomeGroup.GetDefaultTitle() } })

<div id="wrapper">
    <div>

    </div> <!--/ContentWrapper-->
    @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
    {

        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
        <div class="changeAnswers row">
            <input class="button-link-prev button-link" type="submit" name="PreviousQuestion" value="Change my previous answer" />
        </div>

    }

</div> <!-- /site -->