@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Confirmation
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />
@section OuterSection {
    <div class="info-panel">
        <h2>Your callback has been confirmed</h2>
        <div class="info-panel-innertext">
            You'll receive a call from <strong>@WebUtility.HtmlDecode(Model.SelectedService.Name)</strong>
            @(!string.IsNullOrEmpty(@Model.TimeFrameText) ? Html.Raw(string.Format("within <strong>{0}</strong>.", @Model.TimeFrameText)) : Html.Raw(string.Format(". <br />We have notified them of your outcome <strong>{0}</strong>.", @Model.Title)))
</div>
</div>
}


<section>
    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
            <h3 class="care-advice-section-header">
                What if I feel worse?
            </h3>

            <div class="service-booking-message alert">
                @foreach (var item in Model.WorseningCareAdvice.Items)
                {
                    <p>@item.Text</p>
                }
            </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices)
    </div>
</section>