@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}
<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />
<link href="~/content/css_NhsUk/confirmation.css" media="screen" rel="stylesheet" type="text/css" />
@section Title {

}

@section Scripts {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@section OuterSection{
}

@section FeedbackSection {
}

<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />

@Html.Partial("_SessionId", Model)

<h2>This is a test service and you’ve reached the end of the questions.</h2>
<p>
    <strong>If you need medical advice visit <a href="http://www.nhs.uk">www.nhs.uk</a> or call 111</strong>
</p>

<div class="disposition-panel">
    <p class="disposition-title">
        If this was a real service we would have told you that you do not need to see a healthcare professional at this time and presented the advice below on how to look after yourself.
    </p>

    <div class="section-item last">
        @if (Model.DisplayWorseningCareAdvice)
        {
            <h3 class="care-advice-section-header">
                What if I feel worse?
            </h3>

            <div class="service-booking-message alert">
                @foreach (var item in Model.WorseningCareAdvice.Items)
                {
                    <p>@item.Text</p>
                }
            </div>
        }
        @Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "Advice to help you look after yourself" } })
    </div>

    @Html.Partial("_AlphaFeedback", new FeedbackViewModel() { PageId = Model.Id })
</div>
