@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/disposition.css")" media="screen" rel="stylesheet" type="text/css" />
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/confirmation.css")" media="screen" rel="stylesheet" type="text/css" />
@section Title {
    NHS 111 - Looking after yourself
}

@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Model.Id });
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

@Html.Partial("_OutcomeHeader", Model, new ViewDataDictionary() { { "OutcomeHeader", "Based on your answers, you can look after yourself and don't need to see a healthcare professional" } })

@Html.Partial("_WorseningAdvice", Model)
<section>
    <div>
        @if (Model.CareAdvices != null && Model.CareAdvices.Any())
        {
            @Html.Partial("_CareAdvice", Model.CareAdvices)
        }
        else
        {
            <h2 class="no-careadvice">If you need more help with your problem, you can find further information on <a href="http://www.nhs.uk">NHS Choices</a>.
            </h2>
        }
    </div>
</section>

