@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
    var error = Model.DosCheckCapacitySummaryResult.ResultListEmpty;
}

@section Title { NHS 111 - Speak to a clinician }

@section HeadTop {
    @{
        var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id));
        var title = Model.TitleWithoutBullets;
        if (title == null) { title = "ITK Clinician callback - no results"; }
    }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@title'
        }];
    </script>
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

<section class="local-header">
    <div class="measure">
        <h1 class="local-header__title">A nurse from 111 will phone you</h1>
        <div class="local-header__intro">
            <p>Enter a postcode so we can find a suitable local service</p>
        </div>
    </div>
</section>

<div class="itk-message measure">
    <p>The 111 nurse will aim to phone you in @Html.Raw(Model.WaitTimeText) or less.</p>
    <br />
    <p>The 111 nurse will:</p>
    <ul>
        <li>
            have your answers
        </li>
        <li>
            advise you what to do
        </li>
        <li>
            book an appointment, if needed, with an NHS service
        </li>
    </ul>
</div>

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("Title", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ButtonText", "Next"));
    dataDictionary.Add(new KeyValuePair<string, object>("Label", ""));
    dataDictionary.Add(new KeyValuePair<string, object>("ITK", true));
    dataDictionary.Add(new KeyValuePair<string, object>("AddressInfoMessage", "This postcode finds the nearest 111 service to phone you.<br/>It is usually your home postcode."));
    dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };

}

@Html.Partial("_FindService", Model, dataDictionary)


<hr />

<details class="measure">
    <summary>
        <span class="details__arrow"></span>
        <span class="summary">If you don't want to book a call from this service, please read the following advice</span>
    </summary>
    <div class="panel panel-border-narrow">
        @if (Model.CareAdvices != null && Model.CareAdvices.Any())
        {
            @Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary {{"Title", ""}, {"NoHR", "true"}})
        }
        @Html.Partial("_WorseningAdvice", Model)
    </div>
</details>