@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    ViewBag.Title = "No Results";
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), "OutOfArea"); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.OutcomeGroup.Text'
        }];
    </script>
}
@section Title { NHS 111 }

<p>There are no other services currently available near @Html.Raw(Model.FormattedCurrentPostcode)</p>

@section FeedbackSection {
    @if (Model.UserInfo.CurrentAddress.IsPostcodeFirst)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() {UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.PostcodeFirst, Model)})
    }
}

<section>
    <div>
        @using (Html.BeginForm("OutcomeWithoutResults", "Outcome"))
        {
            @Html.HiddenFor(x => Model.SessionId)
            @Html.HiddenFor(x => Model.JourneyId)
            @Html.HiddenFor(x => Model.Id)
            @Html.HiddenFor(x => Model.JourneyJson)
            @Html.HiddenFor(x => Model.PathwayId)
            @Html.HiddenFor(x => Model.PathwayNo)
            @Html.HiddenFor(x => Model.PathwayTitle)
            @Html.HiddenFor(x => Model.EntrySearchTerm)
            @Html.HiddenFor(x => Model.DigitalTitle)
            @Html.HiddenFor(x => Model.SymptomGroup)
            @Html.HiddenFor(x => Model.FilterServices)
            @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
            @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
            @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.Postcode)
            @Html.HiddenFor(x => Model.SymptomDiscriminatorCode)
            @Html.HiddenFor(x => Model.Title)
            @Html.HiddenFor(x => Model.StateJson)
            @Html.HiddenFor(x => Model.TimeFrameText)
            @Html.HiddenFor(x => Model.DispositionUrgencyText)
            @Html.HiddenFor(x => Model.SymptomDiscriminator.ReasoningText)
            @Html.HiddenFor(x => Model.OutcomeGroup.Id)
            @Html.HiddenFor(x => Model.OutcomeGroup.Text)
            @Html.HiddenFor(x => x.TimeFrameMinutes)
            @Html.HiddenFor(x => x.WaitTimeText)
            @Html.HiddenFor(x => x.DispositionTime)
            @Html.HiddenFor(x => x.SurveyLink.PathwayNo)
            @Html.HiddenFor(x => x.SurveyLink.EndPathwayNo)
            @Html.HiddenFor(x => x.SurveyLink.EndPathwayTitle)
            @Html.HiddenFor(x => x.SurveyLink.DigitalTitle)
            @Html.HiddenFor(x => x.SurveyLink.DispositionCode)
            @Html.HiddenFor(x => x.SurveyLink.JourneyId)
            @Html.HiddenFor(x => x.SurveyLink.DispositionDateTime)
            @Html.HiddenFor(x => x.SurveyLink.Campaign)
            @Html.HiddenFor(x => x.SurveyLink.CampaignSource)
            @Html.HiddenFor(x => x.SelectedService.Id)
            @Html.HiddenFor(x => Model.Campaign)
            @Html.HiddenFor(x => Model.Source)
            @Html.HiddenFor(x => Model.NodeType)

            @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)

            <button class="button button--link" type="submit" id="goBack"  name="GoBack">Go back to results</button>
        }
    </div>
</section>
