@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Web.ITK
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Enter Personal Details
}

@section HeadTop {
    @{ var url = string.Format("/outcome/{0}/{1}/{2}/itk/personaldetails/{3}/{4}", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id), Url.Encode(Model.SelectedServiceId), Url.Encode(Model.SelectedService.Name)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/personaldetails.css")" media="screen" rel="stylesheet" type="text/css" />
<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/content/css_NhsUk/service.css")" media="screen" rel="stylesheet" type="text/css" /> 

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("LaunchPage", "personal-details"));
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink, dataDictionary)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Model.Id });
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

@using (Html.BeginForm("Confirmation", "Outcome", FormMethod.Post, new { id = "personalDetailForm" }))
{
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsCareAdviceViewModel", Model)
    @Html.HiddenFor(m => m.SelectedServiceId)
    <section style="margin-top: 40px;">
        <div class="section-item last">
            <h3 class="section-header">
                Enter your details
            </h3>
            <h4 class="section-header">
                If you were answering the questions about someone else, enter their details instead
            </h4>

            @Html.Partial("_PersonalDetailsSelf", Model, dataDictionary)

            @Html.Partial("_InformantDetails", Model.Informant, dataDictionary)

            <div class="personal-details-content">
                <label>
                    Contact number
                </label>
                <div>@Html.ValidationMessageFor(m => m.UserInfo.TelephoneNumber, "Please enter a valid phone number")</div>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.UserInfo.TelephoneNumber, new { @class = "form-control form-control-16-chars", placeholder = "Landline or mobile number", type = "tel" })
                </div>
                <div class="inline-details">
                    <p class="submit-details-disclaimer">
                        By clicking Submit my details, you agree to share your information with other NHS organisations.
                        See our @Html.ActionLink("privacy policy", "Privacy", "Help", null, new { target = "_blank" }) for more information.
                    </p>
                    <button type="submit" class="button button-submit-details" id="submitDetails">Submit my details</button>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_PageLoadingIndicator")                    }

<script type="text/javascript">
    $(document).ready(function () {
        stopPageLoadingIndicator();
        toggleInformant($('#Informant'));
    });

    $(document).on('click', '#submitDetails', function (event) {
        if ($("#personalDetailForm").valid()) startPageLoadingIndicator('Contacting your selected service...');
    });

    $(document).on('click', '#Informant', function () {
        toggleInformant($(this));
    });

    window.onpageshow = function (event) {
        stopPageLoadingIndicator();
    };

    function toggleInformant($informantCheckbox) {
        if ($informantCheckbox.is(':checked')) {
            $('#informant-details').show();
        }
        else {
            $('#informant-details').hide();
            $('#Informant_Forename').val('');
            $('#Informant_Surname').val('');
        }
    }
</script>