@using NHS111.Models.Models.Web
@model OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {
    Enter Personal Details
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Model.Id })
}

<link href="~/content/css_NhsUk/personaldetails.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/content/css_NhsUk/service.css" media="screen" rel="stylesheet" type="text/css" />

<section>
    <div class="section-item">
        <h3 class="section-header">
            Your selected service
        </h3>
        <div class="personal-details-content">
            @Html.Partial("_SelectedService", Model.SelectedService)
            <div class="form-item-wrapper">
                <fieldset>
                    <div class="form-group">
                        @using (Html.BeginForm("ServiceList", "Outcome", FormMethod.Post))
                        {
                            @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
                            <div class="row">
                                <input class="button button-next button-link" type="submit" name="DifferentService" value="Choose a different service" />
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Confirmation", "Outcome", FormMethod.Post))
{
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    @Html.Partial("_CommonHiddenFieldsHomeAddressInfo", Model.UserInfo.HomeAddress, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "HomeAddress" } })
    @Html.HiddenFor(m => m.SelectedServiceId)
    <section>
        <div class="section-item last">
            <h3 class="section-header">
                Your contact information
            </h3>
            <div class="personal-details-content">
                <label>
                    Full name
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.UserInfo.FirstName, new { @class = "form-control form-control-4-chars", placeholder = "First name" })
                    @Html.TextBoxFor(m => m.UserInfo.LastName, new { @class = "form-control form-control-4-chars", placeholder = "Last name" })
                </div>

                <label>
                    Date of birth
                </label>
                <label class="form-hint">
                    For example 18 4 1973
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.UserInfo.Day, new { @class = "form-control form-control-2-chars", placeholder = "DD" })
                    @Html.TextBoxFor(m => m.UserInfo.Month, new { @class = "form-control form-control-2-chars", placeholder = "MM" })
                    @Html.TextBoxFor(m => m.UserInfo.Year, new { @class = "form-control form-control-4-chars", placeholder = "YYYY" })
                </div>
                <label>
                    Contact number
                </label>
                <div class="inline-details">
                    @Html.TextBoxFor(m => m.UserInfo.TelephoneNumber, new { @class = "form-control", placeholder = "Landline or mobile number" })
                </div>
                @Html.Partial("_PersonalPostCodeSearch", Model.AddressSearchViewModel, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AddressSearchViewModel" } })
                <div class="inline-details">
                    <input type="submit" class="button button-submit-details" value="Submit my details" />
                </div>
            </div>
        </div>
    </section>
}