@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.SurveyLinkView<OutcomeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";

}
@section Title { NHS 111 - Get emergency dental treatment }

@Html.Partial("_OutcomeHeader", Model, new ViewDataDictionary { { "OutcomeHeader", string.Format("Your answers suggest you need urgent attention for your dental problem within {0}", Model.TimeFrameText)} })

@section HeadTop {
@{ var url = string.Format("/outcome/{0}/{1}/{2}/disposition/", Url.Encode(Model.PathwayNo), Url.Encode(Model.OutcomeGroup.Text), Url.Encode(Model.Id)); }
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': '@url',
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}
@section SurveyBanner{
    @Html.Partial("_SurveyLink", Model.SurveyLink)
}
@section FeedbackSection {
    @if (!SurveyLinkFeature.IsEnabled)
    {
        @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Outcome, Model) })
    }
    else
    {
        @Html.Partial("_SurveyLink", Model.SurveyLink)
    }
}

@{
    var dataDictionary = ViewContext.ViewData;
    dataDictionary.Add(new KeyValuePair<string, object>("Title", "Find an emergency dental service that can see you"));
    dataDictionary.Add(new KeyValuePair<string, object>("ButtonText", "Find an emergency dental service"));
    dataDictionary.Add(new KeyValuePair<string, object>("Label", "Emergency dental treatment centres"));
    dataDictionary.TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "FindService" };
}
@Html.Partial("_FindService", Model, dataDictionary)

<div class="outcome-additional-info measure">
    <h3 class="outcome-additional-info-header">
        Advice before you go
    </h3>

    <ul>
        <li>don't drive yourself, get someone else to take you</li>
        <li>take all your current medicines with you</li>
    </ul>
</div>

<hr/>

<div class="outcome-additional-info measure">
    <h3 class="outcome-additional-info-header">
        Did you know?
    </h3>
    <p style="margin-bottom: 20px">If you don't have a dentist:</p>
    <ul>
        <li>some areas have emergency dental treatment clinics where you can get an appointment</li>
        <li>many dentists will see you in an emergency even if you aren't registered with them</li>
    </ul>
</div>

@Html.Partial("_CareAdvice", Model.CareAdvices, new ViewDataDictionary { { "Title", "What you can do in the meantime" } })

@Html.Partial("_WorseningAdviceWithTitle", Model)

@using (Html.BeginForm("Navigation", "Question", FormMethod.Post, new { @class = "measure" }))
{
    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)
    if (!Model.DisplayOutcomeReferenceOnly)
    {
        <div class="changeAnswers row">
            <button id="PreviousQuestionFromOutcome" class="button button--previous button--link" type="submit" value="PreviousQuestion" name="PreviousQuestion" formnovalidate>Change my previous answer</button>
        </div>
    }
}