@using NHS111.Utils.DispositionLogics
@model NHS111.Models.Models.Web.DosViewModel

@{
    Layout = "~/Views/Shared/_LayoutNhsUk.cshtml";
}

@section Title {

}

    <div class="sub-header">
        <div>
            <div class="tick">&#10003;</div>
            <h2>You've finished your online assessment</h2>
            <p>@Model.Title</p>
        </div>
    </div>


<link href="~/content/css_NhsUk/disposition.css" media="screen" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("PersonalDetails", "Outcome", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.Title)
    @Html.HiddenFor(x => Model.JourneyJson)
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.SymptomGroup)
    @Html.HiddenFor(x => Model.Age)
    @Html.HiddenFor(x => Model.Gender)
    @Html.HiddenFor(x => Model.PostCode)
    @Html.HiddenFor(x => Model.SymptomDiscriminator)
    @Html.HiddenFor(x => Model.SelectedSurgery)
    @Html.HiddenFor(x => Model.CheckCapacitySummaryResultListJson)
    @Html.HiddenFor(x => Model.UserId)


    <div id="SubHeadWrapper">
        <section>
            @if (Grouping.Two.Contains(Model.Id))
            {
                <h2>Emergency treatment centres nearest to you</h2>
                <p>Select a service</p>
            }
            else
            {
                <h2>Select a healthcare provider</h2>
                <p>This will send your details to the provider and they will @Html.Raw(Model.Title.ToLower()).</p>
            }
        </section>
    </div>
    <div id="FormSearchGP">
        <img src="../../content/images/icons/blueArrow.png" class="arrowDown" alt="">
        <section>
            <div id="FormWrapper">
                <div class="row">
                    @Html.Partial("_SurgeryDetails", Model)
                </div>
            </div>
        </section>
    </div>
}
   