@using NHS111.Models.Models.Web
@model JourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title
{NHS 111 Online}

@section Scripts {
    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script>
        dataLayer = [{'searchTerm':'@Model.PathwayTitle'}];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

<link href="~/Content/css_NhsUK/gender.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="~/Content/css_NhsUK/question.css" media="screen" rel="stylesheet" type="text/css" />

<div id="wrapper">
    <div class="content-container">

        <div>
            @using (Html.BeginForm("JustToBeSafeFirst", "JustToBeSafe", FormMethod.Post, new { @id = "outerContent" }))
            {
                @Html.HiddenFor(x => Model.PathwayNo)
                @Html.Partial("_SessionId", Model)
                <div>
                    <h2 class="heading-large">We need a few more details</h2>
                    <h2 class="heading-small">Choose your gender</h2>
                    <p class="answer">
                        <label for="Male" >
                            @Html.RadioButtonFor(m => m.UserInfo.Gender, "Male", new { @id="Male"  }) <span class="answer-text">Male</span>
                        </label>
                    </p>
                    <p class="answer">
                        <label for="Female">
                            @Html.RadioButtonFor(m => m.UserInfo.Gender, "Female", new { @id = "Female" }) <span class="answer-text">Female</span>
                        </label>
                    </p>

                    
                    <!--<div class="gender-content">
                        <div class="gender male" title="Male">
                            <input name="UserInfo.Gender" value="Male" type="radio" id="Male">
                            <img src="~/content/img/male.png" alt="Male" class="maleImage">
                            <h2 class="heading-small">Male</h2>
                        </div>
                        <div class="gender female" title="Female">
                            <input name="UserInfo.Gender" value="Female" type="radio" id="Female">
                            <img src="~/content/img/female.png" alt="Female" class="femaleImage">
                            <h2 class="heading-small">Female</h2>
                        </div>
                        @*@Html.HiddenFor(m => m.UserInfo.Gender)*@
                    </div>
                        -->
                    <div class="age-content">
                        <div class="age">
                            <h2 class="heading-small">Type your age</h2>

                            @Html.TextBoxFor(m => m.UserInfo.Age, new {@class = "form-control input-age", size = 2, maxlength = 2, onkeypress = "return numbersonly(this, event);"})
                        </div>
                        <div id="age-explanation" style="padding-bottom: 25px; color: #E31D1A; display: none;">The questions for ages below 5 are not yet available. Please enter an age of 5 or above.</div>
                    </div>

                    <input class="button button-next" id="submitGender" type="submit" name="Slider" value="Next" />

                </div>
            }

        </div>
        <!--content end-->
    </div>
</div>
<!--wrapper ends-->

<script type="text/javascript">
    $(document).ready(function () {
        $('#submitGender').click(function (e) {
            var isValid = true;
            var $inputAge = $(".input-age");
            if (!($inputAge.val() > 4)) {
                isValid = false;
                $inputAge.css({
                    "border": "1px solid #E31D1A",
                    "background": "#FFCECE"
                });
                $("#age-explanation").show();
            }
            else {
                $inputAge.css({
                    "border": "",
                    "background": ""
                });
                $("#age-explanation").hide();
            }
            if (isValid == false)
                e.preventDefault();
        });
    });
// copyright 1999 Idocs, Inc. http://www.idocs.com
// Distribute this script freely but keep this notice in place
    function numbersonly(myfield, e, dec)
    {
        var key;
        var keychar;

        if (window.event)
            key = window.event.keyCode;
        else if (e)
            key = e.which;
        else
            return true;
        keychar = String.fromCharCode(key);

// control keys
        if ((key==null) || (key==0) || (key==8) ||
        (key==9) || (key==13) || (key==27) )
            return true;

// numbers
        else if ((("0123456789").indexOf(keychar) > -1))
            return true;

// decimal point jump
        else if (dec && (keychar == "."))
        {
            myfield.form.elements[dec].focus();
            return false;
        }
        else
            return false;
    }

</script>


