@using System.Reflection
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@inherits NHS111.Web.Views.Shared.AgeValidationView<NHS111.Models.Models.Web.JourneyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}
@section Title { NHS 111 Online - Tell us about you }

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageData = new PageDataViewModel(PageDataViewModel.PageType.Demographics, Model.Campaign, Model.Source) })
}

@using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @id = "outerContent", @class = "measure" }))
{
    @Html.HiddenFor(x => Model.SessionId)
    @Html.HiddenFor(x => Model.FilterServices)
    @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.Postcode)
    @Html.HiddenFor(x => Model.Campaign)
    @Html.HiddenFor(x => Model.Source)

    <div class="callout callout--error @(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors")"
         data-valmsg-summary="true">
        <h2>
            There's a problem with the following
        </h2>
        <div class="panel-body">
            <ul class="js-error-list-original"></ul>
            <ul class="js-error-list"></ul>
        </div>
    </div>

    <h1 class="heading-large gender-heading">Tell us about you, or the person you're asking about</h1>

    <div class="callout callout--info">
        <p>Call 111 if you're asking about someone under 5</p>
    </div>

    <div class="form-group @(@ViewData.ModelState.IsValidField("UserInfo.Demography.Gender") ? "" : "form-group-error")">
        <fieldset id="container_@Html.IdFor(m => m.UserInfo.Demography.Gender)">
            <legend class="form-label">
                Sex
            </legend>
            @Html.ValidationMessageFor(m => m.UserInfo.Demography.Gender, null, new { @class = "error-message" })
            <div class="multiple-choice">
                @Html.RadioButtonFor(m => m.UserInfo.Demography.Gender, GenderEnum.Male, new { @id = "Male" })
                @Html.LabelFor(m => m.UserInfo.Demography.Gender, "Male", new { @for = "Male", @class = "multiple-choice--radio", required = "true" })
            </div>

            <div class="multiple-choice">
                @Html.RadioButtonFor(m => m.UserInfo.Demography.Gender, GenderEnum.Female, new { @id = "Female" })
                @Html.LabelFor(m => m.UserInfo.Demography.Gender, "Female", new { @for = "Female", @class = "multiple-choice--radio", required = "true" })
            </div>
        </fieldset>
    </div>

    <div class="form-group @(@ViewData.ModelState.IsValidField("UserInfo.Demography.Age") ? "" : "form-group-error")">
        <fieldset class="age-content" id="container_@Html.IdFor(m => m.UserInfo.Demography.Age)">
            @Html.LabelFor(m => m.UserInfo.Demography.Age, "Age in years", new { @class = "form-label" })
            @Html.ValidationMessageFor(m => m.UserInfo.Demography.Age, null, new { @class = "error-message" })
            @Html.TextBoxFor(m => m.UserInfo.Demography.Age, new { @class = "form-textbox form-textbox--small js-validate-number", type = "number", size = 3, autocomplete = "off" })
        </fieldset>
    </div>

    <button class="button button--next" id="submitGender" type="submit" name="Slider">Next</button>
}


<script type="text/javascript">

    $(document).ready(function () {
        var lastKey = null;
        $(".js-validate-number").on("keydown", function (event) {
            var key = event.key || String.fromCharCode(event.keyCode);
            // When a key is down, it checks that you aren't typing a letter. This allows numbers and tab/delete etc
            if (lastKey == "Meta" || lastKey == "Control") return lastKey = key;
            else if (/^[a-zA-Z\D]$/.test(key)) event.preventDefault();
            return lastKey = key;
        })

        $(".js-validate-number").on("keyup", function (event) {
            if (lastKey == "Meta" || lastKey == "Control") return lastKey = null;
        })
    });

</script>

@if (FilterPathwaysByAgeFeature.IsEnabled)
{
    <script type="text/javascript">
        jQuery(function () {
            jQuery.validator.addMethod('ageminimum',
                function (value, element, params) {
                    return parseInt(value) >= 5;
                });

            jQuery.validator.unobtrusive.adapters.add('ageminimum',
                ['prefixelement'],
                function (options) {
                    options.rules['ageminimum'] = options.params;
                    if (options.message != null) {
                        options.messages['ageminimum'] = options.message;
                    }
                });

            jQuery.validator.addMethod('agemaximum',
                function (value, element, params) {
                    return parseInt(value) <= 199;
                });

            jQuery.validator.unobtrusive.adapters.add('agemaximum',
                ['prefixelement'],
                function (options) {
                    options.rules['agemaximum'] = options.params;
                    if (options.message != null) {
                        options.messages['agemaximum'] = options.message;
                    }
                });
        });
    </script>
}
