@using System.Reflection
@using NHS111.Models.Models.Web
@{ Layout = "~/Views/Shared/_LayoutNhsUk.cshtml"; }
@inherits NHS111.Web.Views.Shared.DirectLinkingView<JourneyViewModel>

<link href="~/content/css_NhsUk/question.css?@Assembly.GetCallingAssembly().GetName().Version.ToString()" media="screen" rel="stylesheet" type="text/css" />

@section Title {}

@section Scripts {
    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
        }];
    </script>
}

@section OuterSection {}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) + Model.PathwayId })
}

@functions {

    string WriteDirectLink(JourneyViewModel model) {
        if (DirectLinkingFeature.IsEnabled) {
            return "<!-- DIRECT LINK: " + model.StepLink + " -->";
        }

        return "";
    }

}

@using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
{
    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.JourneyJson)
    @Html.HiddenFor(x => Model.PathwayId)
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.PathwayTitle)
    @Html.HiddenFor(x => Model.UserInfo.Age)
    @Html.HiddenFor(x => Model.UserInfo.Gender)
    @Html.HiddenFor(x => Model.Title)
    @Html.HiddenFor(x => Model.SymptomDiscriminator)
    @Html.HiddenFor(x => Model.QuestionNo)
    @Html.HiddenFor(x => Model.StateJson)
    @Html.Partial("_SessionId", Model)

    @Html.Raw(WriteDirectLink(Model))

    for (int i = 0; i < Model.CollectedKeywords.Keywords.Count; i++)
    {
        @Html.HiddenFor(model => Model.CollectedKeywords.Keywords[i].Value)
        @Html.HiddenFor(model => Model.CollectedKeywords.Keywords[i].IsFromAnswer)
    }

    for (int i = 0; i < Model.CollectedKeywords.ExcludeKeywords.Count; i++)
    {
        @Html.HiddenFor(model => Model.CollectedKeywords.ExcludeKeywords[i].Value)
        @Html.HiddenFor(model => Model.CollectedKeywords.ExcludeKeywords[i].IsFromAnswer)
    }



    @Html.HiddenFor(x => Model.PreviousStateJson)


    <h2 class="question-header">@Model.TitleWithoutBullets</h2>
    foreach (var bullet in Model.Bullets)
    {
        <span class="red">@bullet</span>
    }
    if (!String.IsNullOrWhiteSpace(Model.Rationale))
    {
        <div class="question-rationale">
            <h3>Why are we asking this?</h3>
            <p>@Html.Raw(@Model.RationaleHtml)</p>
        </div>
    }
    <div id="answers">
        @foreach (var answer in Model.OrderedAnswers())
        {
        <p class="answer">
            <label for="@answer.TitleWithoutSpaces" class="@(!String.IsNullOrWhiteSpace(answer.SupportingInformation) ? "withPadding" : "")"><input name="SelectedAnswer" type="radio" id="@answer.TitleWithoutSpaces" value="@Newtonsoft.Json.JsonConvert.SerializeObject(answer)" /><span class="answer-text">@answer.Title</span></label>

            @if (!String.IsNullOrWhiteSpace(answer.SupportingInformation))
            {
                <a class="help-text-link" href="#">What does this mean?</a>
            }
        </p>
        if (!String.IsNullOrWhiteSpace(answer.SupportingInformationHtml))
        {
        <div class="help-text-link-message">@Html.Raw(answer.SupportingInformationHtml)</div>
        }
        }
    </div>
    if (!Model.IsFirstStep)
    {
        <input class="button previous-question" id="previousScreen" type="submit" name="PreviousQuestion" value="Previous question" />
    }
    <button class="button button-next" id="nextScreen" type="submit" name="Question" value="Question">Next question</button>
}
<script type="text/javascript">


    $(document).ready(function () {

        //enable disable submit button
        $("#nextScreen[type=submit]").attr('disabled', 'disabled');

        $("form input[type=radio]").change(function () {
            $("button[type=submit]").removeAttr('disabled');
        });

        $('.help-text-link').click(function () {
            var $this = $(this);
            //$this.preventDefault();

            var $helpTextLinkMessage = $this.parent().next('.help-text-link-message');
            $helpTextLinkMessage.slideToggle("fast");
        });
    });


</script>