@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Models.Models.Business.PathwaySearch
@model SearchJourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
    var searchResultHeading = string.Format("Sorry, there are no results for '{0}'. Try searching by topic instead. If you can't find what you need, please call 111 now.", Model.SanitisedSearchTerm);
    if (Model.Results.Any())
    {
        searchResultHeading = string.Format("{0} topics found matching '{1}'", Model.Results.Count(), Model.SanitisedSearchTerm);
    }
    var ageCategory = new AgeCategory(Model.UserInfo.Demography.Age).Value;
}

@section Title  {NHS 111 Online - Search for a topic}

@section Scripts {
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/scripts/custom.js")"></script>
    <script src="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/scripts/disclaimer.js")"></script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel() { UserId = Model.SessionId.ToString(), PageId = Request.Url.GetComponents(UriComponents.PathAndQuery, UriFormat.SafeUnescaped) })
}

<link href="@NHS111.Web.Helpers.Versioning.GetVersionedUriRef("~/Content/css_NhsUK/search.css")" media="screen" rel="stylesheet" type="text/css" />

<div id="search">

    <div id="wrapper">

        <div class="content-container search-box">
            <form action="/question/searchresults/" method="POST">
                <input type="hidden" name="age" value="@Model.UserInfo.Demography.Age"/>
                <input type="hidden" name="gender" value="@Model.UserInfo.Demography.Gender"/>
                <input type="hidden" name="filterServices" value=@(Model.FilterServices.ToString()) />
                <h1><label for="searchTags">Search by symptom</label></h1>
                <div class="symptoms-find-container">
                    <input type="text" class="input-symptoms ui-autocomplete-input" id="searchTags" name="q" autocomplete="off" value="@Model.SanitisedSearchTerm"/>
                    <input type="submit" class="button button-get-started" value="Search" id="searchButton"/>
                </div>
            </form>

            <div id="SearchResults">
                @if (Model.HasSearched) {
                    <hr/>
                    <h2 id="search-results-heading">@searchResultHeading</h2>
                }
                @if (Model.Results.Any()) {
                    <div class="results-list">
                        <ul>
                            @foreach (var result in Model.Results) {
                                var additionalTopics = result.DisplayTitle != null ? result.DisplayTitle.Skip(1) : new List<string>();
                                var title = result.DisplayTitle != null ? result.DisplayTitle.First() : result.Title.First();
                                var digitalTitle = PathwaySearchResult.StripHighlightMarkup(title);
                                <li>
                                    <a class="linkButton" data-title="@result.PathwayTitle" data-pathway-number="@result.PathwayNo" href="/@result.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?age=@Model.UserInfo.Demography.Age&digitalTitle=@digitalTitle&entrySearchTerm=@Model.SanitisedSearchTerm&filterServices=@(Model.FilterServices.ToString())">@Html.Raw(title)</a>
                                    @if (additionalTopics.Any()) {
                                        <p class='additional-topics'>Also covers: @Html.Raw(string.Join(", ", additionalTopics))</p>
                                    }
                                    <p>@Html.Raw(result.Description)</p>
                                </li>

                            }
                        </ul>
                        <h3 id="category-option">
                            If you can't find what you're looking for, try <button id="show-categories" class="linkButton">searching by category</button> instead.
                        </h3>
                    </div>
                }
            </div>

            @if (Model.HasSearched) {
                <div id="categories" class="all-symptoms">
                    @{
                        var bodyParts = new List<string> {"Head and neck", "Shoulder, arm and hand", "Chest and back", "Abdomen, groin and side of the body", "Bowel and urinary problems", "Genitals", "Leg and foot", "Skin and hair"};
                        var lists = new List<IEnumerable<CategoryWithPathways>>(2);
                        lists.Add(Model.AllTopics.Where(t => bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
                        lists.Add(Model.AllTopics.Where(t => !bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
                        //var orderLists = Model.AllTopics.OrderBy(c => c.Category.Title);
                        //lists.Add(orderLists.Take((orderLists.Count() / 2)));
                        //lists.Add(orderLists.Skip(lists[0].Count()));
                    }

                    <h2>Find a topic</h2>

                    @for (int i = 0; i < lists.Count; ++i) {
                        <div class="@Html.Raw(i == 0 ? "left" : "right")">
                            <h3>@Html.Raw(i == 0 ? "Body" : "General")</h3>
                            <ul>
                                @foreach (var topLevelCategory in lists[i]) {
                                    <li>
                                        <h4><span class="category linkButton bullet" href="javascript:void(0);"><img class="arrow" src="/Content/images/blue-arrow-down.png" alt="Expand category" /> <span class="underline" id="@topLevelCategory.Category.Id">@topLevelCategory.Category.Title (@(topLevelCategory.SubCategories.SelectMany(s => s.Pathways).Count() + topLevelCategory.Pathways.Count()))</span></span></h4>
                                        @if (topLevelCategory.SubCategories != null && topLevelCategory.SubCategories.Any()) {
                                            <ul class="content">
                                                @foreach (var subCategory in topLevelCategory.SubCategories.OrderBy(x => x.Category.Title)) {
                                                    if (!subCategory.Pathways.Any()) {
                                                        continue;
                                                    }
                                                    <li>
                                                        <h5><span class="category linkButton bullet" href="javascript:void(0);"><img class="arrow" src="/Content/images/blue-arrow-down.png" alt="Expand category" /> <span class="underline" id="@subCategory.Category.Id">@subCategory.Category.Title (@subCategory.Pathways.Count())</span></span></h5>
                                                        <ul class="content">
                                                            @foreach (var pathway in subCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle)) {
                                                                <li>
                                                                    <a class="linkButton" data-title="@pathway.PathwayData.DigitalTitle" data-pathway-number="@pathway.Pathway.Id" href="/@pathway.Pathway.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?age=@Model.UserInfo.Demography.Age&filterServices=@(Model.FilterServices.ToString())">@Html.Raw(pathway.PathwayData.DigitalTitle)</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        @if (topLevelCategory.Pathways != null && topLevelCategory.Pathways.Any()) {
                                            <ul class="content">
                                                @foreach (var pathway in topLevelCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle)) {
                                                    <li>
                                                    <a class="linkButton" data-title="@pathway.PathwayData.DigitalTitle" data-pathway-number="@pathway.Pathway.Id" href="/@pathway.Pathway.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?age=@Model.UserInfo.Demography.Age&filterServices=@(Model.FilterServices.ToString())">@Html.Raw(pathway.PathwayData.DigitalTitle)</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>

    </div>



    <script>
        $(document).ready(function() {
            @if (Model.Results.Any())
            {
                @Html.Raw("$('#categories').hide();")
                ;
            }
            $('.content').hide();
        });

        $(document).on("click", "#show-categories", function() {
            $("#categories").show();
            $(".results-list").hide();
            $("#category-option").hide();
            $("#search-results-heading").hide();
        });

        $('.category').click(function() {
            var $this = $(this);

            var $helpTextLinkMessage = $this.parent().next('.content');
            $helpTextLinkMessage.slideToggle("fast");
            var arrow = $this.children(".arrow");
            if (arrow.attr("src") == "/Content/images/blue-arrow-down.png") {
                arrow.attr("src", "/Content/images/blue-arrow-right.png");
            } else {
                arrow.attr("src", "/Content/images/blue-arrow-down.png");
            }
        });
    </script>
</div>