@using NHS111.Models.Models.Business.PathwaySearch
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@model SearchJourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Categories}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.Categories, Model)
    });
}

<div id="categories">
    @{
        var bodyParts = new List<string> {"Head and neck", "Shoulder, arm and hand", "Chest and back", "Abdomen, groin and side of the body", "Bowel and urinary problems", "Genitals", "Leg and foot", "Skin and hair"};
        var lists = new List<IEnumerable<CategoryWithPathways>>(2);
        lists.Add(Model.AllTopics.Where(t => bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
        lists.Add(Model.AllTopics.Where(t => !bodyParts.Contains(t.Category.Title)).OrderBy(x => x.Category.OrderNo));
    }

    @if (!string.IsNullOrEmpty(Model.SanitisedSearchTerm))
    {
        <h2>@string.Format("Sorry, there are no results for '{0}'.", Model.SanitisedSearchTerm.Trim())</h2>
        <h2>Try finding your symptoms by topic instead.  If you can't find what you need, please call 111 now.</h2>
    }
        else
        {
        <h2>Find your symptoms from the topic list.  If you can't find what you need, please call 111 now.</h2>
    }
    
    <div class="grid-row">

        @for (int i = 0; i < lists.Count; ++i)
        {
            <div class="column--one-half">
                <h3>@Html.Raw(i == 0 ? "Areas of the body" : "Popular topics")</h3>
                @foreach (var topLevelCategory in lists[i])
                {
                    <details>
                        <summary>
                            <span class="details__arrow"></span>
                            <span class="summary" id="@topLevelCategory.Category.Id">@topLevelCategory.Category.Title (@(topLevelCategory.SubCategories.SelectMany(s => s.Pathways).Count() + topLevelCategory.Pathways.Count()))</span>
                        </summary>
                        <div class="panel panel-border-narrow">
                            @if (topLevelCategory.SubCategories != null && topLevelCategory.SubCategories.Any())
                            {
                                foreach (var subCategory in topLevelCategory.SubCategories.OrderBy(x => x.Category.Title))
                                {
                                    if (!subCategory.Pathways.Any())
                                    {
                                        continue;
                                    }
                                    <details>
                                        <summary>
                                            <span class="details__arrow"></span>
                                            <span class="summary" id="@subCategory.Category.Id">@subCategory.Category.Title (@subCategory.Pathways.Count())</span>
                                        </summary>
                                        <div class="panel panel-border-narrow">
                                            <ul class="link-list">
                                                @foreach (var pathway in subCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle))
                                                {
                                                    Model.DigitalTitle = PathwaySearchResult.StripHighlightMarkup(pathway.PathwayData.DigitalTitle);
                                                    var encryptedSubCategoryQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
                                                    <li>
                                                        <a data-title="@pathway.PathwayData.DigitalTitle" data-pathway-number="@pathway.Pathway.Id" href="/@pathway.Pathway.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedSubCategoryQueryStringValues">@Html.Raw(pathway.PathwayData.DigitalTitle)</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </details>
                                }
                            }
                            @if (topLevelCategory.Pathways != null && topLevelCategory.Pathways.Any())
                            {
                                <ul class="link-list">
                                    @foreach (var pathway in topLevelCategory.Pathways.OrderBy(p => p.PathwayData.DigitalTitle))
                                    {
                                        Model.DigitalTitle = PathwaySearchResult.StripHighlightMarkup(pathway.PathwayData.DigitalTitle);
                                        var encryptedCategoryQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
                                        <li>
                                            <a data-title="@pathway.PathwayData.DigitalTitle" data-pathway-number="@pathway.Pathway.Id" href="/@pathway.Pathway.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedCategoryQueryStringValues">@Html.Raw(pathway.PathwayData.DigitalTitle)</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </details>
                }
            </div>
        }
    </div>
</div>

<hr role="presentation" />
@Html.Partial("_SearchBox", Model, ViewData)

<script>
    if ($('.results-list').length > 0) $('#categories').hide();
    $('#show-categories').on('click', function () {
        $('#SearchResults').hide();
        $('#categories').show().scrollTop();
    });
</script>