@using NHS111.Models.Models.Business.PathwaySearch
@using NHS111.Models.Models.Domain
@using NHS111.Models.Models.Web
@using NHS111.Web.Helpers
@model NHS111.Models.Models.Web.SearchJourneyViewModel
@{
    Layout = "~/Views/Shared/_LayoutNhsUK.cshtml";
}

@section Title  {NHS 111 Online - Best applies}

@section HeadTop {
    <script>
        dataLayer = [
            {
                'virtualPageUrl': document.location.pathname + '?q=@Model.SanitisedSearchTerm'
            }];
    </script>
}

@section FeedbackSection {
    @Html.Partial("_FeedbackDetails", new FeedbackViewModel()
    {
        UserId = Model.SessionId.ToString(),
        PageData = new PageDataViewModel(PageDataViewModel.PageType.SearchResults, Model)
    })
}
<div id="SearchResults" class="measure">
    @if (Model.Results.Any())
    {
        <div>
            <h1 id="search-results-heading">Which of the following best applies?</h1>
            <ul class="link-list link-list--results">
                @foreach (var result in Model.Results)
                {
                    var additionalTopics = result.DisplayTitle != null ? result.DisplayTitle.Skip(1) : new List<string>();
                    var title = result.DisplayTitle != null ? result.DisplayTitle.First() : result.Title.First();
                    Model.DigitalTitle = PathwaySearchResult.StripHighlightMarkup(title);
                    var encryptedJtbsQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
                    
                    <li>
                        <a data-title="@result.PathwayTitle" data-pathway-number="@result.PathwayNo" href="/@result.PathwayNo/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/start?args=@encryptedJtbsQueryStringValues.ToString()">@Html.Raw(title)</a>
                        @if (additionalTopics.Any())
                        {
                            <p>Includes: @Html.Raw(string.Join(", ", additionalTopics))</p>
                        }
                        <p>@Html.Raw(result.Description)</p>
                    </li>
                }
            </ul>
            <h3 id="category-option">
                @{
                    var encryptedTopicsQueryStringValues = KeyValueEncryptor.EncryptedKeys(Model);
                }
                If you can't find what you're looking for, try <a id="show-categories" href="/@Model.UserInfo.Demography.Gender/@Model.UserInfo.Demography.Age/Topics?args=@encryptedTopicsQueryStringValues&hasResults=true">searching by category</a> instead.
            </h3>
        </div>
    }
</div>

<hr role="presentation" />
@Html.Partial("_SearchBox", Model, ViewData)