@model NHS111.Models.Models.Web.FromExternalServices.CheckCapacitySummaryResult


<div class="service">
    <h4>
        @Html.Raw(Model.NameField) <a href="#surgery-@Html.Raw(Model.IdField)" class="open" id="show-address-@Html.Raw(Model.IdField)">

        </a>
    </h4>
    <div class="surgery" id="surgery-@Html.Raw(Model.IdField)">
        <ul>
            <li class="home">@Html.Raw(Model.AddressField)</li>

            @if (Model.ContactDetailsField != null && !Model.ContactDetailsField.IsEmpty())
            {
                <li class="tel">@Html.Raw(Model.ContactDetailsField)</li>
            }

            @if (Model.UrlField != null && !Model.UrlField.IsEmpty())
            {
                <li class="web">
                    <a href="http://@Html.Raw(Model.UrlField)">@Html.Raw(Model.UrlField)</a>
                </li>
            }
        </ul>

        @*<button class="cta">confirm attendance</button>*@
    </div>

    <div class="serviceCareSummary">
        @Html.Raw(Model.NotesField)
    </div>

    <button class="button" value="@Model.IdField" id="@Model.IdField" name="SelectedService" type="submit">SELECT</button>
</div>