@using System.Web.UI.WebControls
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9  color-blue two-columnlayout"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8  color-blue two-columnlayout">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NHS Questions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!--[if gt IE 8]><!-->
    <link href="~/content/_assets/css/main.css" media="all" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <!--[if lte IE 8]><link href="~/content/_assets/css/main-ie8.css" media="all" rel="stylesheet" type="text/css"><![endif]-->
    <!--[if lte IE 8]>
    <link href="~/content/_assets/css/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="~/content/_assets/css/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <link rel="shortcut icon" href="~/content/_assets/img/favicon.ico" type="image/x-icon">
    <link href="~/content/_assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="~/content/css/jquery-ui.css">

    <link href="~/content/css/custom.css" media="all" rel="stylesheet" type="text/css">
    <style type="text/css">
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background:#13aae1;
            opacity:0.9;
            z-index: 1000;
        }

        #loadingcontent {
            display: table;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        #loadingspinner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: 18px;
            padding-top: 80px;
            color:#fdd258;
        }
    </style>

    <script>
        var html = document.documentElement;
        html.className += " js-enabled";
        if (!('open' in document.createElement('details'))) {
            document.documentElement.className += ' no-details';
        }
    </script>
    <script src="~/content/_assets/js/vendor/modernizr-custom.js"></script>
    <script src="~/content/_assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/scripts/spin.min.js"></script>
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>


</head>
<body id="gpSearch">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="hidden svg-pie">
      <symbol viewbox="0" id="svg10pc">
        <path d="M65,65 L65,0 A65,65 0 0,1 56.682,0.534 z"></path>
      </symbol>
      <symbol viewbox="0" id="svg20pc">
        <path d="M65,65 L65,0 A65,65 0 0,1 2.129,81.499 z"></path>
      </symbol>
    </svg> -->

    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Searching services near you...
            </p>
        </div>
    </div>

    <div class="skiplink-container">
        <div>
            <a href="#main" class="skiplink">Skip to main content</a>
        </div>
    </div>
    <header role="banner" class="global-header">
        <div class="global-header__wrapper">
            <a href="/" title="Go to the homepage" class="logo">
                <img src="~/content/img/med-logo.png" alt="MED">
            </a>
        </div>
        <div class="progress-container">
            <div class="progressbg-left"></div>
            <div class="progress-indicator">
                <span class="indicator first">
                    <span class="ind-number">01</span> What's
                    wrong
                </span>
                <span class="indicator second">
                    <span class="ind-number">02</span> Tell
                    us more
                </span>
                <span class="indicator third active">
                    <span class="caps">
                        <span class="ind-number">03</span> You
                        are here.
                    </span>Next steps
                </span>
            </div>
        </div>
    </header>
    <div class="nhs-page-navigation ">
        <div class="nhs-pagenav-container">
            <h3 class="nhs-page-navigation__title">Previous question</h3>
            <a class="nhs-page-navigation__link nhs-nav-btn" href="two-halfs-primary.html">Thank you, your answers suggest you need care</a>
        </div>
    </div>
    <div class="content-container">
        <main role="main" id="main">
            <div class="left50pc">
                <span class="right-triangle"></span>
            </div>
            @using (Html.BeginForm("DosService", "DOS", FormMethod.Post, new { @id = "form-group" }))
            {
                <div class="grid-wrapper grid-above-halfbg">
                    <div class="grid grid-1-2 coloredbg">
                        <img src="~/content/_assets/img/img-outcome-primary-left.png" class="hero" />
                        <h1 class="heading-large lrg-btm-margin">Your answers suggest you must&nbsp;@Model.Title</h1>
                        <p>So we can notify your GP...</p>
                        <ol class="list-numbers">
                            <li>Tell us your details and location</li>
                            <li>Select your registered GP practice</li>
                            <li>Select available services</li>
                        </ol>
                        <span class="down-triangle"></span>
                    </div>

                    <div class="grid grid-1-2 twocol-second reset-counter-1">
                        <h2 class="heading-list">Find and select your GP practice</h2>

                        @Html.HiddenFor(x => Model.Id)
                        @Html.HiddenFor(x => Model.JourneyJson)
                        @Html.HiddenFor(x => Model.PathwayId)
                        @Html.HiddenFor(x => Model.PathwayNo)
                        @Html.HiddenFor(x => Model.SymptomGroup)
                        @Html.HiddenFor(x => Model.UserInfo.Age)
                        @Html.HiddenFor(x => Model.UserInfo.Gender)
                        @Html.HiddenFor(x => Model.SymptomDiscriminator)
                        @Html.HiddenFor(x => Model.Title)




                        @Html.HiddenFor(x => Model.UserInfo.FirstName)
                        @Html.HiddenFor(x => Model.UserInfo.LastName)
                        @*@Html.HiddenFor(x => Model.UserInfo.DoB)*@
                        @Html.HiddenFor(x => Model.UserInfo.Day)
                        @Html.HiddenFor(x => Model.UserInfo.Month)
                        @Html.HiddenFor(x => Model.UserInfo.Year)
                        @Html.HiddenFor(x => Model.UserInfo.TelephoneNumber)

                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.PostCode)
                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.HouseNumber)
                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.AddressLine1)
                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.AddressLine2)
                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.City)
                        @Html.HiddenFor(x => Model.UserInfo.HomeAddress.County)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.PostCode)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.HouseNumber)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.AddressLine1)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.AddressLine2)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.City)
                        @Html.HiddenFor(x => Model.UserInfo.CurrentAddress.County)

                        <fieldset class="form-control-1-1">
                            <label for="FindGP">
                                <input type="hidden" id="FindGPId" name="SurgeryViewModel.SelectedSurgery" />
                                <input class="form-control form-control-1-1 predict" id="FindGP" placeholder="Type your GP practice name" required>
                            </label>
                            <!--
                                <div class="suggest">
                                    <div class="suggestion">Bayswater Medical Centre, 46 Craven Road, London W2 3QA</div>
                                    <div>Surgery Name, 60 Grove End Rd, London NW8 9NH</div>
                                    <div>Some Surgery, 54 Wimpole Street, London W1G 8YJ</div>
                                    <div>Soho Square Surgery, 30 Soho Square, London W1D 3QS</div>
                                </div>
                                -->
                        </fieldset>


                        <input type="submit" id="submitAddress" class="button" value="Available Services">

                    </div>


                </div>
            }
        </main>
    </div>
    <!-- <div class="footer">FOOTER TEST</div> -->
    <script src="~/content/_assets/js/vendor/fastclick.js"></script>
    <script src="~/content/_assets/js/scripts.min.js"></script>
    <script src="~/content/_assets/js/vendor/jstorage.js"></script>
    <!-- Prototype specific scripts -->
    <script src="~/content/_assets/js/vendor/jquery.cookie.js"></script>
   
    <script>
        $(document).ready(function () {
            //enable disable submit button
            $("#gpSearch #submitAddress[type=submit]").attr('disabled', 'disabled');
        });
    </script>

    <script type="text/javascript">
    $(function () {
        $("#submitAddress").click(function () {
            $("#loading").fadeIn();
            var opts = {
                lines: 12, // The number of lines to draw
                length: 7, // The length of each line
                width: 4, // The line thickness
                radius: 10, // The radius of the inner circle
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false // Whether to use hardware acceleration
            };
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);
        });
    });
    </script>

</body>
</html>
