@model NHS111.Models.Models.Web.JustToBeSafeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <!--<script src="~/scripts/jquery2.1.1.min.js"></script> included on layout page -->
    <script src="~/scripts/jquery1.11.2-ui.min.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>

    <!--Custom form elements styles-->
    <script src="~/scripts/icheck.js"></script>

    <script src="~/scripts/custom.js"></script>

    <script>
        var pageId = '@Model.Id';
        dataLayer = [
        {
            'virtualPageUrl': document.location.pathname + '/' + pageId,
            'virtualPageTitle': '@Model.TitleWithoutBullets'
            }
        ];
    </script>

}

<body id="jtbs">
    <div id="wrapper">
        <header role="banner" class="global-header">
            <div class="global-header__wrapper">
                <div class="global-header__logo"> <a href="/" title="Go to Homepage" class="logo"> <img src="~/content/img/med-logo.png" alt="MED"> </a> </div>
                <!--<div id="logStatus"> <span title="Logged in as Kevin">Welcome back <strong>Kevin</strong></span> </div>-->
            </div>

            <div class="nhs-page-navigation nhs-show-nav">
                <div class="nhs-pagenav-container">
                    <!--Progress meter-->
                   <div id="progressWrapper">
                        <div class="meter nhsBlue">
                            <span class="p25"></span>
                        </div>
                        <span class="guideText">25% complete</span>
                    </div>
                </div>

            </div>


        </header>
        <div class="content-container">

            <div id="content">
                @using (Html.BeginForm("JustToBeSafeNext", "JustToBeSafe", FormMethod.Post, new { @id = "jtbsForm" }))
                {
                    @Html.HiddenFor(x => Model.SessionId)
                    @Html.HiddenFor(x => Model.PathwayId)
                    @Html.HiddenFor(x => Model.PathwayNo)
                    @Html.HiddenFor(x => Model.PathwayTitle)
                    @Html.HiddenFor(x => Model.DigitalTitle)
                    @Html.HiddenFor(x => Model.Part)
                    @Html.HiddenFor(x => Model.QuestionsJson)
                    @Html.HiddenFor(x => Model.JourneyJson)
                    @Html.HiddenFor(x => Model.UserInfo.Demography.Age)
                    @Html.HiddenFor(x => Model.UserInfo.Demography.Gender)
                    @Html.HiddenFor(x => Model.SymptomDiscriminatorCode)
                    @Html.HiddenFor(x => Model.FilterServices)

                    <div id="jtbsQuestion">
                      

                        <img src="~/content/images/icons/outcomeHeader.png" style="@(Model.Part == 1 ? "" : "display:none")" alt="Just to be safe" class="headImage" />

                        <h2>Just to be safe</h2>
                        <p class="subHeader">Select the first of these that applies to you</p>

                        <div class="customRadios">

                            @foreach (var question in Model.OrderedQuestions())
                            {
                                <label for="@question.Question.Id">
                                    <input type="radio" name="SelectedQuestionId" class="radio" value="@question.Question.Id" id="@question.Question.Id"/>

                                    @{
                                        var jtbsQuestionAndBullets = question.Question.JtbsTextWithBullets();
                                        var jtbsQuestion = jtbsQuestionAndBullets.Item1;
                                        var jtbsBullets = jtbsQuestionAndBullets.Item2;
                                    }

                                    <span>@jtbsQuestion</span>
                                    @foreach(var jtbsBullet in jtbsBullets)
                                    {
                                        <span class="red">@jtbsBullet</span>
                                    }
                                </label>
                            }

                            <label for="none">
                                <input type="radio" class="radio" name="SelectedQuestionId" value="" id="none"/>
                                None of these apply to me
                            </label>

                        </div>
                    </div> <!--/jtbsQuestion-->

                    <input type="submit" class="button" id="nextScreen" value="Next"/>
                }

            </div>
            <!--content end-->

        </div>
        <footer>
            <div class="footerWrapper">
                <div class="footerMeta"> </div>
            </div>
        </footer>
    </div>
    <!--wrapper ends-->
    
    <div id="mobileScroller">
        <div style="display:none;" class="nav_up" id="nav_up"></div>
        <div style="display:none;" class="nav_down" id="nav_down"></div>
    </div>

    <script>
        // Activate Custom form elements -
        // works on questionsmock page only
        $('.customRadios input').iCheck({
            checkboxClass: 'icheckbox_flat-yellow',
            radioClass: 'iradio_flat-yellow'
        });
    </script>

</body>
